<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.llj.living">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 具备摄像头 -->
    <uses-feature android:name="android.hardware.camera.any" /> <!-- 存储图像或者视频权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
<!-- 安装apk 在Android O新增权限，必须添加-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/main_logo_jpg"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="q">

        <activity android:name=".ui.activity.TestActivity2">

        </activity>

        <activity
            android:name=".ui.activity.LoginActivity"
            android:launchMode="singleTask">

        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:launchMode="singleTop">

        </activity>

        <activity android:name=".ui.activity.FaceAuthenticActivity">

        </activity>
        <activity
            android:name=".ui.activity.SplashActivity">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN"
                    android:screenOrientation="portrait" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.ActivitySuppleInfo" />
        <activity android:name=".ui.activity.ActivityCheckDetail" />
        <activity android:name=".ui.activity.ActivityCheck" />
        <activity
            android:name=".ui.activity.ActivityVideotape"
            android:launchMode="singleTop" />
        <activity android:name=".ui.activity.ActivitySupplement" />
        <activity
            android:name=".ui.activity.ActivityVideoPreview"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout"
            android:launchMode="singleTop"
            android:screenOrientation="locked" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.llj.living.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>