<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.llj.living">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="q">

        <activity android:name=".ui.activity.LoginActivity">

        </activity>

        <activity android:name=".ui.activity.MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"
                    android:screenOrientation="portrait"/>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activity.FaceAuthenticActivity" >

        </activity>

        <activity android:name=".ui.activity.SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>
        <activity android:name=".ui.activity.ActivitySuppleInfo" >

        </activity>
        <activity android:name=".ui.activity.ActivityCheckDetail" />
        <activity android:name=".ui.activity.ActivityCheck" />
        <activity android:name=".ui.activity.ActivityVideotape" />
        <activity android:name=".ui.activity.ActivitySupplement" />

        <provider
            android:authorities="com.llj.living.fileprovider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
    </application>

</manifest>